.about {
  transition: opacity 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  color: #efefef;
  text-align: center;
  background: rgb(2, 38, 54);
  padding: 0 0 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  z-index: 10;
}

.about .cell {
  flex: 0 0 45%;
  width: 50%;
  box-sizing: border-box;
  text-align: left;
  max-width: 80em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .textSection {
  padding: 5em 4em 5em 4em;
}

@keyframes arrowAnim {
  0% {
    transform: translateY(1em);
  }

  100% {
    transform: translateY(0);
  }
}

.about h2 {
  font-size: 2.2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about h2 .icon {
  margin: 0;
  margin-right: 0.4em;
  color: #f13b74;
}

.about h2 div {
  display: inline-block !important;
}

.about a {
  font-weight: bold;
  font-style: italic;
  margin-top: 1em;
}

.about p {
  font-size: 1.2em;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.about.active p {
  opacity: 1;
}

.about p strong {
  font-family: "Roboto Mono";
  font-weight: bold;
}

.about button {
  margin-top: 1em;
  font-size: 1.25em;
  padding: 0.5em 1em;
  border-color: #efefef;
  color: #efefef;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.about button.active {
  opacity: 1;
}

@media screen and (max-width: 1080px) {
  .about {
    display: block;
  }
  .about .cell {
    width: 100%;
  }
  .about .cell canvas {
    height: 400px;
  }
}
@media screen and (max-width: 730px) {
  .about .textSection{
    padding: 2.5em 2em;
  }
}

@media screen and (max-width: 570px) {
  .about {
    font-size: 90%;
  }
}


