.home{
  height: 95%;
  position: relative;
  display: flex;
  background: #f0f0f0;
  flex-direction: row;
  overflow-x: hidden;

  @media screen and (max-width: 950px) {
    flex-direction: column-reverse;
    height: auto;
  }
}

.squareContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.squareContainer .square {
  position: absolute;
  background: #1e6a8b;
  width: 8em;
  height: 8em;
  transition: transform 0.5s cubic-bezier(0.53, 1.02, 0.65, 1.33);
  transform-origin: center;
  transform: scale(0);
}

.squareContainer .square.active {
  transform: scale(1) rotateZ(0.01deg);
}

.cell{
  flex: 0 0 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  @media screen and (max-width: 950px) {
    flex: 0 0 100%;
    padding: 0em 2em;
  }

  @media screen and (max-width: 500px) {
    flex: 0 0 100%;
    flex-direction: column;
  }
}

.home header {
  margin-left: 10em;
  max-width: 38em;

  @media screen and (max-width: 1200px) {
    margin-left: 5em;
  }

  @media screen and (max-width: 1035px) {
    margin-left: 2em;
  }

  @media screen and (max-width: 950px) {
    margin-left: 0;
    max-width: 100%;
    margin-bottom: 4em;
  }
}

.home h1 {
  font-family: "Roboto";
  font-weight: 900;
  position: relative;
  text-align: left;
  font-weight: 700;
  font-size: 2.5em;
  white-space: nowrap;
  color: rgb(1, 80, 107);
  margin-bottom: 1.5rem;
  white-space: pre-wrap;

  @media screen and (max-width: 950px) {
    br{
      display: none;
    }
  }

  @media screen and (max-width: 500px) {
    font-size: 2em;
  }
}

.typewriterCursor{
  animation: Typewriter-cursor 1s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes Typewriter-cursor {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
} 

.home p {
  font-size: 1.2em;
  white-space: pre-wrap;
}

.home header button {
  position: relative;
  cursor: pointer;
  font-size: 1.2em;
  color: #ffffff;
  text-align: left;
  border-radius: 0.75em;
  padding: 0.75em 1.2em;
  margin-top: 1.5rem;
  z-index: 100;
}

.home header button::after{
  background-color: rgb(1, 80, 107);
}

.highlightWrapper{
  align-self: flex-end;
  position: relative;
  margin-right: 3em;
  width: 35em;
  height: 40em;
  overflow: hidden;

  @media screen and (max-width: 950px) {
    height: 25em;
    margin-top: 4em;
    align-self: flex-start;
  }
}

.imageWrapper{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;

  @media screen and (max-width: 950px) {
    margin-right: 3em;
  }
}

.interactiveWrapper{
  position: absolute;
  right: 12em;
  top: -1em;
  width: 24em;
  height: 24em;
  @media screen and (max-width: 950px) {
    margin-right: 3em;
  }
}
