.technologiesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background: #022636;
  color: #ffffff;
  padding-bottom: 8em;
}
.technologiesSection .text {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 35em;
  margin-top: 6em;
  margin-bottom: 3em;
}

.technologiesSection .text h2 {
  font-size: 2.2em;
}
.technologiesSection img {
  object-fit: contain;
}

.technologiesSection .logoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 919px) {
    flex-direction: column;
  }
}
.technologiesSection .row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
}
.technologiesSection .logo {
  position: relative;
  padding: 1.5em;
  box-sizing: border-box;
  margin: 3em;
  cursor: pointer;
}
.technologiesSection .logo:before,
.technologiesSection .logoCaption:before {
  content: "";
  position: absolute;
  width: 10em;
  height: 10em;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
  background: rgba(255, 255, 255);
  z-index: 1;
}
.technologiesSection .logoCaption {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: opacity 0.3s ease-in-out;
}
.technologiesSection .logoCaption span {
  font-size: 1.4em;
}
.technologiesSection .logoCaption:before {
  background: #f13b74;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform-origin: center;
}
.technologiesSection .logo:hover .logoCaption {
  opacity: 1;
}
.technologiesSection .logo:hover .logoCaption:before {
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.technologiesSection .logo img{
  position: relative;
  width: 6em;
  height: 6em;
  z-index: 2;
}

@media screen and (max-width: 470px){
  .technologiesSection .logo:before,
  .technologiesSection .logoCaption:before {
    width: 9em;
    height: 9em;
  }
  .technologiesSection .logo {
    margin: 1.2em;
    padding: 3em;
  }
  .technologiesSection .logo img{
    width: 2.5em;
    height: 2.5em;
    position: relative;
  }
  .technologiesSection .row {
    height: 8em;
  }
}