.slideWrapper {
  display: flex;
  flex-direction: row;
  transform: translateX(-100%);
  animation: customerslide 25s linear infinite;
  box-sizing: border-box;
}

@keyframes customerslide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
