.navbar {
  top: 0;
  position: fixed;
  z-index: 2000;
  flex: 0 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  backface-visibility: hidden;
  height: 5em;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(20px);
  padding: 2em;
}
.navbar .logoLinkWrapper {
  margin: 0 1em;
  z-index: 600;
  margin-right: auto;
}
.navbar .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  
}
.navbar .logo .mbLogo {
  width: 2.8em;
  height: 2.8em;
  background-image: url("/images/Logo/MB-Logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  font-smooth: antialiased !important;
  transition: background 0.3s ease-in-out;
}
.navbar .logo span {
  margin: 0 0.8em;
  font-size: 1.8em;
  font-weight: bold;
  font-style: italic;
  color: #333;
  transition: color 0.3s ease-in-out;
}
.languageSwitchWrapper {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: relative;
  margin-left: 0.8em;
}
.languageSwitchWrapper img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.navbar ul {
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}
.navbar ul li {
  padding: 1em;
  margin: 0 1em;
  display: inline-block;
  position: relative;
  font-smooth: antialiased !important;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  font-size: 1.3em;
  transition: color 0.4s ease-in-out;
  color: #333;
  font-weight: bolder;
}
.navbar ul li:last-of-type{
  padding-right: 0;
  padding-left: 0;
}
.navbar ul li:last-of-type a {
  background-color: #01506b;
  border: 0.1em solid transparent;
  color: #fff;
  border-radius: 10em;
  padding: 0.5em 1em;
  transition: color 0.3s ease-in-out;
  transition-property: color, background-color, border;
}
.navbar ul li:hover,
.navbar ul li.active {
  color: #01506b;
}
.navbar ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1em;
  height: 0.6em;
  border-radius: 0.05em;
  background: #01506b;
  transition: all 0.3s ease-in-out;
  transform-origin: top;
  transform: translateX(-50%) scaleY(0);
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.navbar ul li:last-of-type:before {
  content: none;
}
.navbar ul li:hover::before,
.navbar ul li.active::before {
  transform: translateX(-50%) scaleY(1);
}
.hamburgerMenu {
  display: none !important;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 600;
}
.bar1,
.bar2,
.bar3 {
  width: 2.25em;
  height: 0.25em;
  background-color: #333333;
  margin: 0.4em 0;
  transition: 0.4s;
  font-smooth: antialiased !important;
  backface-visibility: hidden;
}
.hamburgerMenu.active .bar1 {
  transform: rotate(-45deg) translate(-0.45em, 0.45em);
  background: #000;
  z-index: 100;
}
.hamburgerMenu.active .bar2 {
  opacity: 0;
  background: #000;
}
.hamburgerMenu.active .bar3 {
  transform: rotate(45deg) translate(-0.45em, -0.45em);
  background: #000;
}
.mobileMenu {
  display: flex;
  visibility: hidden;
  z-index: 1000;
  position: fixed;
  top: 5em;
  left: 0;
  width: 100%;
  height: calc(100% - 5em);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #fff;
  transition: transform 0.5s ease-in-out;
  transition-property: transform, opacity;
  transform-origin: top;
  transform: translateX(100%);
  opacity: 0;
  box-sizing: border-box;
  padding-left: 3em;
  overflow: hidden;
}
.mobileMenu .languageSwitchWrapper {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  bottom: 2em;
  left: 4em;
}
.mobileMenu.initialized {
  visibility: visible;
}
.mobileMenu.active {
  opacity: 1;
  transform: translateX(0);
}
.mobileMenu ul {
  display: flex;
  border-left: solid 1px #333;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  padding-top: 4em;
  padding-left: 1em;
  height: 100%;
}
.mobileMenu ul.sub {
  height: auto;
  font-size: 80%;
  margin: 0.4em 0;
  padding-left: 2em;
  border: none;
}
.mobileMenu li {
  position: relative;
  padding: 0.2em 0.5em;
  font-smooth: antialiased !important;
  backface-visibility: hidden;
  transform: translateZ(0) translateX(15em) scale(1, 1);
  transition: transform 0.5s ease-in-out;
  transition-property: color, transform;
  margin: 0.5em 0;
  display: inline-inline-block;
  font-size: 1.8em;
  color: #000;
}
.mobileMenu.active li {
  transform: translateZ(0) translateX(0);
}
.mobileMenu li:hover,
.mobileMenu li.active {
  color: #01506b;
  cursor: pointer;
}
.mobileMenu li::before {
  content: "";
  position: absolute;
  bottom: 0em;
  left: 0.5em;
  width: calc(100% - 1em);
  height: 0.1em;
  border-radius: 0.05em;
  background: #01506b;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: center;
  z-index: -1;
}
.mobileMenu li:hover:before,
.mobileMenu li.active::before {
  transform: scaleX(1);
}
.mobileMenu li:before {
  background: #01506b;
}
.mobileMenu.active,
.mobileMenu:hover {
  color: #01506b;
}
@media screen and (max-width: 1100px) {
  .navbar .logoLinkWrapper {
    margin: 0 0.5em;
    margin-right: auto;
  }
  .navbar .ulWrapper {
    display: none;
  }
  .navbar .languageSwitchWrapper {
    display: none;
  }
  .navbar .hamburgerMenu {
    display: block !important;
  }
}
@media screen and (max-width: 468px) {
  .navbar .hamburgerMenu {
    margin: 0;
  }
  .navbar .logoLinkWrapper {
    margin: 0;
    margin-right: auto;
  }
  .mobileMenu li {
    margin: 0.3em 0;
  }
}
