.crossPlatformSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 8em 1em;
  color: #fff;
  background: rgba(2, 38, 54, 1);
}

.crossPlatformSection .text {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 0;
}

.crossPlatformSection .text h2 {
  margin-top: 0;
  font-size: 2.2em;
}

.crossPlatformSection .text p {
  font-size: 1.2em;
}

.crossPlatformSection .iconWrapper {
  padding-top: 1em;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 3.5em;
}
.crossPlatformSection .iconWrapper svg {
  transition: all 0.3s ease-in-out;
  margin: 0 1em;
  cursor: pointer;
}
.crossPlatformSection .iconWrapper svg:hover {
  color: rgb(241, 59, 116);
}

@media screen and (max-width: 1000px) {
  .crossPlatformSection {
    padding-bottom: 7.5em;
  }
  .crossPlatformSection .iconWrapper svg {
    margin: 0.5em;
  }
}

@media screen and (max-width: 600px) {
  .crossPlatformSection .iconWrapper {
    font-size: 2.5em;
  }
}
