.ctaSection {
  display: flex;
  background-position: 0 0;
  background-size: cover;
  color: white;
  min-height: 40em;
  padding-top: 8vw;
  clip-path: polygon(0 0, 50% 8vw, 100% 0, 100% 100%, 0 100%);
  background-image: url("/Webdesign/images/actionSection.jpg");
  justify-content: center;
  align-items: center;
}
.ctaSection.greySection {
  background: "cccccc";
}

.ctaSection h2 {
  color: white;
}

.ctaSection > div {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ctaSection button {
  box-sizing: border-box;
  position: relative;
  background: none;
  color: #fff;
  border: solid 0.1em #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  padding: 0.5em 2em;
  cursor: pointer;
  margin: 0 2em;
  transition: color 0.5s ease-in-out;
}
.ctaSection button::before {
  opacity: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  border: solid 0.2em #fff;
  z-index: -1;
  animation-timing-function: ease-in-out;
  animation-name: hoverAnimation;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-direction: alternate;
  animation-fill-mode: none;
  transition: all 0.5s ease-in;
}
.ctaSection button:hover {
  color: rgb(2, 38, 54);
}
.ctaSection button:hover::before {
  opacity: 1;
  cursor: pointer;
}
.ctaSection button:focus {
  outline: 0;
}

@keyframes hoverAnimation {
  0% {
    transform: translate(-0.5em, 0.1em);
  }
  100% {
    transform: translate(0.1em, -0.5em);
  }
}
