.serviceSection {
  position: relative;
  background-position: 0 0;
  background-size: 100% auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  color: #000000;
  flex-wrap: wrap;
  max-width: 120em;
  margin: 0 auto;
  padding: 0 4em;
}
.serviceSection:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.flexCell {
  position: relative;
  z-index: 10;
  flex: 0 0 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 2em 2em;
}
.flexCell.scaleable{
  flex: 1 1 50%;
}
.serviceSection .text {
  max-width: 54em;
}
.serviceSection .image {
  padding: 2em;
  transition: all 1s ease-in-out;
  transform: scale(0.95);
  opacity: 0;
}

.serviceSection.active .image {
  transform: scale(1);
  opacity: 1;
}

.serviceSection .text h2{
  font-family: "Roboto Mono";
  font-weight: bold;
  color: rgb(1, 80, 107);
  font-size: 2.2em;
  margin: 0;
  margin-bottom: 1em;
}
.serviceSection.blueSection h2{
  color: white;
}
.serviceSection .text p{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.serviceSection.active .text p{
  opacity: 1;
}

@media screen and (max-width: 1700px){
  .serviceSection .text{
    width: 48em;
  }
}
@media screen and (max-width: 1300px){
  .serviceSection{
    flex-direction: column-reverse;
  }
  .serviceSection:nth-of-type(2n) {
    flex-direction: column-reverse;
  }
  .serviceSection.blueSection, .serviceSection.greySection{
    padding: calc(8vw + 6em) 0;
  }
  .serviceSection .flexCell{
    flex: 0 0 100%;
    padding: 1em 0;
    width: 100%;
  }
}
@media screen and (max-width : 522px) {
  .serviceSection{
    font-size: 90%;
  }
  .serviceSection .image{
    padding: 0;
  }
  .serviceSection .text{
    text-align: left;
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width : 420px) {
  .serviceSection{
    padding: 0 2em;
  }
}