.header {
  width: 100%;
  height: 40em;
  max-height: calc(100% - 4em);
  box-sizing: border-box;
  background-position: 0 0;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  overflow: hidden;
  margin-top: 5em;
  background: linear-gradient(
    45deg,
    rgb(2, 38, 54) 30%,
    rgb(30, 106, 139) 100%
  );
}
.header .backgroundColor {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 38, 54, 0.1) 0%,
    rgba(2, 38, 54, 0.5) 100%
  );
  transition: background 0.5s ease-in-out;
}
.header .headerTextWrapper {
  position: relative;
  flex: 0 0 50%;
  width: 50%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #022636;
  overflow: visible;
  z-index: 20;
}
.header .headerDiagonal {
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  position: absolute;
  background: rgb(2, 38, 54);
  width: 20vh;
  height: 100%;
  top: 0;
  left: 50%;
  z-index: 10;
}
.header .headerText {
  position: absolute;
  color: #000;
  width: 60em;
  max-width: calc(100% + 6vh);
  box-sizing: border-box;
  min-height: 25em;
  padding: 4em 12vh 4em 3em;
  z-index: 1;
}
.header .headerText:after {
  content: "";
  z-index: -1;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, calc(100% - 12vh) 100%, 0 100%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(255, 255, 255);
}
.header .headerText:before {
  content: "";
  z-index: -2;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, calc(100% - 12vh) 100%, 0 100%);
  width: 100%;
  height: 100%;
  background: rgb(241, 59, 116);
  top: 1em;
  left: 1em;
}
.header button {
  clip-path: polygon(0 0, 100% 0, calc(100% - 1vh) 100%, 0 100%);
  margin-top: 0.8em;
}
.header button::before {
  background: #f13b74;
}

.headline {
  font-family: "Roboto Mono";
  font-weight: bold;
  font-size: 3em;
  font-style: italic;
  margin-top: 0;
  color: #022636;
}

@media screen and (max-width: 1050px) {
  .headline{
    font-size: 2.5em;
  }
}
@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    height: 50em;
    max-height: auto;
  }
  .header .headerTextWrapper {
    flex: 0 0 50%;
    width: 100%;
    height: 50%;
  }
  .header .headerText {
    position: relative;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    min-height: auto;
    height: auto;
    font-size: 90%;
    margin-right: 1em;
  }
  .header .headerDiagonal {
    width: 100%;
    left: 0%;
    top: 50%;
    height: 4em;
  }
}
@media screen and (max-width: 550px) {
  .header {
    height: 60em;
  }
  .header .headerText{
    padding-right: 6vh;
  }
  .header .headerText:after,
  .header .headerText:before {
    clip-path: polygon(0 0, 100% 0, calc(100% - 6vh) 100%, 0 100%);
  }
}
