.appPriceCalculator {
  width: 100%;
  min-height: 100%;
  background: #022636;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  position: relative;
  padding: 5em 0 2em 0;
  box-sizing: border-box;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 68em;
  max-width: 100%;
  box-sizing: border-box;
  padding: 2em;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.formWrapper.fadeOut {
  opacity: 0;
}

.formWrapper h2 {
  @media screen and (max-width: 750px) {
    font-size: 1.8em;
  }
}

.formWrapper p {
  width: 32em;
  max-width: calc(100% - 4em);
}

.formWrapperDone {
  opacity: 1;
}

.optionsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4em;
  width: 50em;
  max-width: 100%;
  box-sizing: border-box;
}

.option {
  flex: 0 0 calc(33% - 2em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  cursor: pointer;

  @media screen and (max-width: 750px) {
    flex: 0 0 calc(100% - 2em);
  }
}

.optionIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  margin: 1em 0;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.option span {
  font-weight: bold;
  font-size: 1.2em;
  user-select: none;
}

.option.selected .optionIconWrapper {
  transform: scale(1.1);
  color: #f13b74;
}
@media (hover: hover) {
  .option:hover .optionIconWrapper {
    transform: scale(1.1);
    color: #f13b74;
  }
}

.stepCounter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.stepCounter span {
  font-weight: bold;
  user-select: none;
}

.controlButtonWrapper{
  position: absolute;
  width: 100%;
  max-width: 35em;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  user-select: none;
  font-size: 2em;
  padding: 0 1em;

  @media screen and (max-width: 750px) {
    padding: 0 0.5em;
  }
}

.leftButtonWrapper {
  cursor: pointer;
}
.rightButtonWrapper {
  cursor: pointer;
}
.inputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.inputWrapper input {
  background: white;
  font-size: 1.2em;
  border: none;
  border-radius: 0;
  width: 26em;
  max-width: 100%;
  box-sizing: border-box;
  padding: 1em;

  @media screen and (max-width: 750px) {
    font-size: 1em;
    padding: 1em 0.5em;
  }
}
.inputWrapper input:focus {
  outline: none;
}
.inputWrapper button {
  background: white;
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
  padding: 1em;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  @media screen and (max-width: 750px) {
    font-size: 1em;
    padding: 1em 0.5em;
  }
}
.inputWrapper button:hover {
  background: transparent;
  color: #ffffff;
}
