.appPriceCalculator {
    width: 100%;
    min-height: 100%;
    background: #022636;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding: 5em 0 2em 0;
    box-sizing: border-box;
  }
  
  .formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50em;
    max-width: 100%;
    box-sizing: border-box;
    padding: 2em;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  .formWrapper h2 {
    @media screen and (max-width: 750px) {
      font-size: 1.8em;
    }
  }
  
  .inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .inputWrapper button {
    background: white;
    color: #000;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    @media screen and (max-width: 750px) {
      font-size: 1em;
      padding: 1em 0.5em;
    }
  }
  .inputWrapper button:hover {
    background: transparent;
    color: #ffffff;
  }
  
  .icon{
    width: 6em;
    height: 6em;
    margin-bottom: 1em;
  }