.blogOverview {
  z-index: 5;
  position: relative;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #f0f0f0;
  padding: 1.5em;
  margin: 0 auto;
  border-bottom: solid 5px #f13b74;
}

.blogOverview .image {
  width: 100%;
}

.blogOverview h2 {
  font-size: 1.8em;
  color: rgb(1, 80, 107);
}

.blogOverview p {
  margin: 1.8em 0 2em 0;
}
.blogOverview a {
  margin-top: auto;
}
.blogOverview button {
  transform: none;
}
.blogOverview button div {
  transform: none;
}
