.content {
  margin: 0 auto;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28em, 1fr));
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  gap: 2em;
  max-width: 122em;

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    padding: 1em;
  }
}
