.cookieDisclaimer {
  position: fixed;
  right: 0;
  bottom: 0;
  background: white;
  max-width: 100%;
  padding: 1.2em 1.7em;
  z-index: 1000;
  width: 30rem;
  max-width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.75);
}

.cookieDisclaimer .cookieDisclaimerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.cookieDisclaimer .cookieDisclaimerHeadline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.cookieDisclaimer .cookieDisclaimerHeadline h2 {
  font-size: 1.5em;
  margin: 0.2em 0;
  font-weight: bold;
  color: #999999;
}
.cookieDisclaimer .cookieDisclaimerText p,
.cookieDisclaimer .cookieDisclaimerForm p {
  font-size: 1em;
  color: #222;
  margin: 0.5em 0;
}
.cookieDisclaimer .cookieDisclaimerForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
  color: #222;
  margin-bottom: 0.2em;
}
.cookieDisclaimer .cookieDisclaimerForm input {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
  cursor: pointer;
}
.cookieDisclaimerButton {
  width: 100%;
  margin: 0.2em 0;
}
.cookieDisclaimerButton button::before {
  content: none;
}
.cookieDisclaimerButton button {
  width: 100%;
  font-size: 1em;
  padding: 0.75em 1.2em;
  color: #fff;
  background-color: rgb(1, 80, 107);
  border: none;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
.cookieDisclaimerButton button:hover{
  background-color: #022636;
}
.cookieDisclaimerButton.save button {
  background: #b4b4b4;
}
.cookieDisclaimerButton.save button:hover {
  background-color: #888888;
}

@media screen and (max-width: 890px) {
  .cookieDisclaimer {
    width: 100%;
    padding: 2em;
  }
}
