.footer {
    position: relative;
    z-index: 5;
    height: 5em;
    background: #000;
    color: #fff;
    box-sizing: border-box;
}

.footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

.footer ul li {
    line-height: 4em;
    display: inline;
    font-size: 1.2em;
    margin: 0 2em;
}