.imprint {
  padding: 8em 3em 3em 3em;
  color: #fff;
  background: rgba(2, 38, 54, 1);
}
.imprint section .text h1 {
  font-size: 2.5em;
}
.imprint section .text {
  text-align: left;
  width: auto;
}
