.wrapper{
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 16.5em);
}

.wrapper section{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper h2{
    font-size: 1.6em;
}