.serviceSection {
  position: relative;
  background-position: 0 0;
  background-size: 100% auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  color: #000000;
  flex-wrap: wrap;
  max-width: 120em;
  margin: 0 auto;
  padding: 1em 4em;

  &:first-of-type {
    margin-top: 4em;
  }

  &:last-of-type {
    margin-bottom: 4em;
  }

  &:nth-of-type(2n) {
    flex-direction: row-reverse;
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    padding: 2em 0;

    &:nth-of-type(2n) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 420px) {
    padding: 1em 2em;
  }
}

.flexCell {
  position: relative;
  z-index: 10;
  flex: 0 0 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 2em 2em;
}
.flexCell.scaleable {
  flex: 1 1 50%;
}
.serviceSection .text {
  max-width: 54em;

  @media screen and (max-width: 500px) {
    text-align: left;
    width: 100%;
    padding: 0;
  }
}
.serviceSection .image {
  padding: 2em;
  transition: all 1s ease-in-out;
  transform: scale(0.95);
  opacity: 0;
}

.serviceSection.active .image {
  transform: scale(1);
  opacity: 1;
}

.serviceSection.active .image img {
  border-radius: 5em;
}

.serviceSection .text h2 {
  font-weight: bold;
  color: rgb(1, 80, 107);
  font-size: 2.2em;
  margin: 0;
  margin-bottom: 1em;

  @media screen and (max-width: 500px) {
    font-size: 2em;
  }
}
.serviceSection.blueSection h2 {
  color: white;
}
.serviceSection .text p {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.serviceSection.active .text p {
  opacity: 1;
}

.serviceSection .text ol {
  list-style: none;
  counter-reset: numbers 0;
  padding-left: 1.6em;
}

.serviceSection .text ol li{
  margin: 0.4em 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.serviceSection.active .text ol li {
  opacity: 1;
}

.serviceSection .text ol li::before {
  counter-increment: numbers;
  content: counter(numbers);
  font-weight: bold;
  margin-left: -1.1em;
  margin-right: 0.5em;
}

.serviceSection .text button {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin-top: 0.6em;
}
.serviceSection.active .text button {
  opacity: 1;
}

@media screen and (max-width: 1700px) {
  .serviceSection .text {
    width: 48em;
    max-width: 100%;
  }
}
@media screen and (max-width: 1300px) {
  .serviceSection .image {
    padding: 0;
  }
}
@media screen and (max-width: 1000px) {
  .serviceSection.blueSection,
  .serviceSection.greySection {
    padding: calc(8vw + 6em) 0;
  }
  .serviceSection .flexCell {
    flex: 0 0 100%;
    padding: 1em 0;
    width: 100%;
    max-width: 32em;
  }
  .serviceSection .image {
    padding: 0;
  }
}
